<div class="footer-container-inner">
  <div class="footer-container-logo">
    <img src="http://res.cloudinary.com/leosoba/image/upload/v1502674726/favicon2_omstxc.png" alt="icon"/>
  </div>

  <div class="footer-container-tech">
    <h1>technologies:</h1>
    <div class="footer-container-tech-images">
      <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661138/nodejs_zrp5td.png" alt="nodejs"/>
      <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/react-native_ipf6g3.png"
           alt="react-native"/>
      <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661138/mongoDB_r7b426.png" alt="mongoDB"/>
      <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661136/express_bwqnjd.png" alt="expressjs"/>
    </div>

  </div>

  <div class="footer-container-name">
    <h1>developers:</h1>
    <div class="contributors">
      <p>Tianyu Duan</p>
      <div>
        <a href="https://github.com/tianyuduan">
          <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661136/github_wzrynm.png" alt="github"/>
        </a>
        <a href="mailto:tianyuduan1991@gmail.com" target="email leo">
          <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661136/email_i7uclw.png" alt="email"/>
        </a>
        <a href="https://www.linkedin.com/in/tianyu-duan-96b289107/">
        <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/linkedIn_vyh8ui.png" alt="linkedin"/>
        </a>
      </div>

    </div>

    <div class="separators"></div>

    <div class="contributors">
      <p>Stephen Loquet</p>
      <div>
        <a href="https://github.com/sloq">
          <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661136/github_wzrynm.png" alt="github"/>
        </a>
        <a href="mailto:sloquet@gmail.com">
          <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661136/email_i7uclw.png" alt="email"/>
        </a>
        <a href="https://www.linkedin.com/in/stephen-loquet/">
          <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/linkedIn_vyh8ui.png" alt="linkedin"/>
        </a>
      </div>

    </div>

    <div class="separators"></div>

    <div class="contributors">
      <p>Leo Liao</p>
      <div>
        <a href="https://github.com/leohliao">
          <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661136/github_wzrynm.png" alt="github"/>
        </a>

        <a href="mailto:ducleoliao@gmail.com" target="email leo">
        <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661136/email_i7uclw.png" alt="email"/>
        </a>

        <a href="https://www.linkedin.com/in/ducleoliao/">
          <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/linkedIn_vyh8ui.png" alt="linkedin"/>
        </a>
      </div>
    </div>

  </div>
</div>
