<div class="footer-container-inner">
  <div class="footer-container-logo">
    <img src="/images/favicon.ico" alt="icon"/>
  </div>

  <div class="footer-container-tech">
    <h1>technologies:</h1>
    <div class="footer-container-tech-images">
      <img src="/images/nodejs.png" alt="nodejs"/>
      <img src="/images/react-native.png"
           alt="react-native"/>
      <img src="/images/mongoDB.png" alt="mongoDB"/>
      <img src="/images/express.png" alt="expressjs"/>
    </div>

  </div>

  <div class="footer-container-name">
    <h1>developers:</h1>
    <div class="contributors">
      <p>Tianyu Duan</p>
      <div>
        <a href="https://github.com/tianyuduan">
          <img src="/images/github.png" alt="github"/>
        </a>
        <a href="mailto:tianyuduan1991@gmail.com" target="email leo">
          <img src="/images/email.png" alt="email"/>
        </a>
        <a href="https://www.linkedin.com/in/tianyu-duan-96b289107/">
        <img src="/images/linkedIn.png" alt="linkedin"/>
        </a>
      </div>

    </div>

    <div class="separators"></div>

    <div class="contributors">
      <p>Stephen Loquet</p>
      <div>
        <a href="https://github.com/sloq">
          <img src="/images/github.png" alt="github"/>
        </a>
        <a href="mailto:sloquet@gmail.com">
          <img src="/images/email.png" alt="email"/>
        </a>
        <a href="https://www.linkedin.com/in/stephen-loquet/">
          <img src="/images/linkedIn.png" alt="linkedin"/>
        </a>
      </div>

    </div>

    <div class="separators"></div>

    <div class="contributors">
      <p>Leo Liao</p>
      <div>
        <a href="https://github.com/leohliao">
          <img src="/images/github.png" alt="github"/>
        </a>

        <a href="mailto:ducleoliao@gmail.com" target="email leo">
        <img src="/images/email.png" alt="email"/>
        </a>

        <a href="https://www.linkedin.com/in/ducleoliao/">
          <img src="/images/linkedIn.png" alt="linkedin"/>
        </a>
      </div>
    </div>

  </div>
</div>
