<div>
  <img class="footer-container-logo" src="/images/favicon.ico" alt="icon"/>
</div>
<div>
  <h1>This is footer</h1>
  <p>Tianyu Duan</p>
  <p>Stephen Loquet</p>
  <p>Leo Liao</p>
</div>
<div>
  <h1>This is footer</h1>
  <p>Tianyu Duan</p>
  <p>Stephen Loquet</p>
  <p>Leo Liao</p>
</div>
<div>
  <h1>This is footer</h1>
  <p>Tianyu Duan</p>
  <p>Stephen Loquet</p>
  <p>Leo Liao</p>
</div>
