
<div class="info-container-contents">
  <div class="info-container-contents-a">
    <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661135/contact_f6wi1k.png">
    <h1>Exchange Business Info</h1>
    <p>Share and receive each other's business information via QR code. No more carrying and organizing piles of business cards! Easy! Fast!</p>
  </div>

  <div class="info-container-contents-b">
    <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661135/apps_rwoczs.png">
    <h1>One Click To Connect Everything</h1>
    <p>You can choose to share or not share different information fields. Connect to each other on multiple social networks with one click!</p>
  </div>

  <div class="info-container-contents-c">
    <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661135/connect_bllmfu.png">
    <h1>Keep In Touch</h1>
    <p>Keep track of where you've made connections. Easily text, call, or email a new connection with one click!</p>
  </div>
</div>

<div class="info-container-logos">
  <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661135/contact_icon_long_ubeaow.png" alt="logo"/>
</div>
