
<div class="info-container-contents">
  <div class="info-container-contents-a">
    <img src="/images/contact.png">
    <h1>Exchange Business Info</h1>
    <p>Share or receive each other's business information via QR code. No more carrying and organizing piles of business cards! Easy! Fast!</p>
  </div>

  <div class="info-container-contents-b">
    <img src="/images/apps.png">
    <h1>One Click To Connect All</h1>
    <p>You can choose to share / not share with each individual information and connect to each other via your social networks with one click!</p>
  </div>

  <div class="info-container-contents-c">
    <img src="/images/connect.png">
    <h1>Keep In Touch</h1>
    <p>We will keep a history log of where you met each other, and you can easily text, call, or email anyone on your contact with a click!</p>
  </div>
</div>

<div class="info-container-logos">
  <img src="/images/contact_icon_long.png" alt="logo"/>
</div>
