<img class="simulation-image-left" src="/images/simulation-left.png" alt="simulation"/>
  <div class="simulation-container-image">
    <h1>Product Demo</h1>
      <img class="simulation-image-iphone" src="/images/iphone.png" alt="iphone image"/>
    <h1> (Under Development) </h1>
  </div>
<img class="simulation-image-right" src="/images/simulation-right.png" alt="simulation"/>
