<div class="simulation-image-left">
  <h1>Product Demo</h1>
</div>

<div class="simulation-container-gif">
  <div class="simulation-container-image">
      <img class="simulation-image-iphone" src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/iphone_r49cmx.png" alt="iphone image"/>
      <img class="simulation-gif"
           src="/gif/login5.gif" alt="login"/>
      <h2> Log In </h2>
  </div>


  <div class="simulation-container-image">
      <img class="simulation-image-iphone" src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/iphone_r49cmx.png" alt="iphone image"/>
      <img class="simulation-gif"
           src="/gif/Qr2.gif" alt="qr code"/>
      <h2> Scan Connections through QR Codes </h2>
  </div>


  <div class="simulation-container-image">
      <img class="simulation-image-iphone" src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/iphone_r49cmx.png" alt="iphone image"/>
      <img class="simulation-gif"
           src="/gif/profileVideo.gif" alt="profile video"/>
      <h2> Update your exchangeable information </h2>
  </div>

  <div class="simulation-container-image">
      <img class="simulation-image-iphone" src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/iphone_r49cmx.png" alt="iphone image"/>
      <img class="simulation-gif"
          src="/gif/contacts3.gif" alt="contacts"/>
      <h2> Start connecting!</h2>
  </div>

  <div class="simulation-container-image">
      <img class="simulation-image-iphone" src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/iphone_r49cmx.png" alt="iphone image"/>
      <img class="simulation-gif"
          src="/gif/location4.gif" alt="locations"/>
      <h2> Keep track of where your connections were made </h2>
  </div>
</div>

<div class="simulation-image-right">

</div>
