<div class="simulation-image-left">
  <h1>Product Demo</h1>
  <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661138/simulation-left_u5mhov.png" alt="simulation"/>
</div>

<div class="simulation-container-image">
    <img class="simulation-image-iphone" src="http://res.cloudinary.com/leosoba/image/upload/v1502661137/iphone_r49cmx.png" alt="iphone image"/>
    <h2> (Under Development) </h2>
</div>

<div class="simulation-image-right">
  <img src="http://res.cloudinary.com/leosoba/image/upload/v1502661139/simulation-right_om386t.png" alt="simulation"/>
</div>
