<div class="simulation-image-left">
  <h1>Product Demo</h1>
  <img src="/images/simulation-left.png" alt="simulation"/>
</div>

<div class="simulation-container-image">
    <img class="simulation-image-iphone" src="/images/iphone.png" alt="iphone image"/>
    <h2> (Under Development) </h2>
</div>

<div class="simulation-image-right">
  <img src="/images/simulation-right.png" alt="simulation"/>
</div>
