@import "title.css";
@import "info.css";
@import "simulation.css";
@import "footer.css";

.all-container {
  display: flex;
  flex-direction: column;
}

.title-container {
  background-color: #42bec7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

#showMore {
  background-color: white;
  /*display: none;*/
  flex-direction: column;
}

.info-container {
  /*background-color:#949494;*/
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("http://res.cloudinary.com/leosoba/image/upload/v1502661136/info-background_p8kuwg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.simulation-container {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  height: 3700px;
  background-image: url("http://res.cloudinary.com/leosoba/image/upload/o_46/v1502710690/bkgd_kfo57p.jpg");
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(67, 71, 76);
}

.footer-container h3 {
  font-variant-caps: all-petite-caps;
  color: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  padding-bottom: 20px;
}
