.simulation-container-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.simulation-container h1 {
  position: absolute;
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 30px;
  margin-left: 20px;
  color: white;
}


.simulation-image-iphone {
  height: 540px;
}
