.simulation-container-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.simulation-image-right {
  height: 600px;
}

.simulation-image-iphone {
  height: 540px;
}
